{%extends 'account-base.html'%}
{% load i18n static %}

{% block content %}

{% if validlink %}
<div class="col-md-6 col-lg-4">
    <div class="login-wrap p-0">
        <h3 class="mb-4 text-center"> Change Password </h3>
        <form  method="post" class="signin-form">
            <input hidden autocomplete="username" value="{{ form.user.get_username }}">

            {% csrf_token %}
            <div class="form-group">
                <input name="new_password1" id="password-field" type="password" class="form-control" placeholder="New password"
                required>
                <span toggle="#password-field"
                class="fa fa-fw fa-eye field-icon toggle-password"></span> 
                {{ form.new_password1.errors }}
 
            </div>
            <div class="form-group">
                <input name="new_password2" id="password-field" type="password" class="form-control" placeholder="Confirm Password"
                    required>
                <span toggle="#password-field"
                    class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    {{ form.new_password2.errors }}
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3"> Change my password</button>
            </div>
            
        </form>
        
    </div>
</div>
{% else %}
<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
{% endblock content %}

